extends ../layouts/default

block content
	if !data.post
		h2 Ошибка! Простите, но такого поста не существует.
	else
		if data.post.image.exists
		.hero
			- var imgmob = data.post._.image.fill(414,736,f_auto,center);		
			- var imgdesktop = data.post._.image.fill(1440,f_auto);	
			.mob.image-wrap(style="background-image:url(" + imgmob + ")")
			.nomob.image-wrap(style="background:url(" + imgdesktop + ")")
				//- img(src=data.post._.image.fit(750,450)).post-header
			h1.title= data.post.title
			.lead: !=data.post.content.brief
		.container: .row: .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
			if data.post.categories && data.post.categories.length
				each cat, cat_i in data.post.categories
					a.tags(href='/blog/' + cat.key)= cat.name
				article
					if data.post.cases.client
						.client_post 
							| Клиент:
							= '\n'
						.clients: != data.post.cases.client
								//- if data.post.publishedDate
								//- 	| #{data.post._.publishedDate.format('MMMM Do, YYYY')} 

								//- if cat_i < data.post.categories.length - 1
								//- 	| , 
								//- else
								//- 	|  
								//- if data.post.author
								//- 	| by #{data.post.author.name.first}
							.post
								!= data.post.content.full
							if data.post.categories && data.post.categories.length
								each cat, cat_i in data.post.categories
									a.tags(href='/blog/' + cat.key)= cat.name
								
