extends ../layouts/default

block css
	link(href="/styles/typograf.css", rel="stylesheet") 

block head 
	title=data.post.title
	meta(property="og:url", content="'/blog/post/' + post.slug")
	meta(property="og:title", content=data.post.title)
	meta(property="og:description", content=data.post.content.brief)
	meta(property="og:image", content=data.post._.image.fill(500,300,f_auto,center))


block header	
	div(role="navigation").navbar.navbar-default
		.container: .row: .col-xs-12.col-sm-11.col-sm-offset-1.col-md-10.col-md-offset-1
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') 
					img#logo(src="/images/braintobrain_logo_on_w.svg")
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					each link in navLinks
						li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

block content
	if !data.post
		h2 Ошибка! Простите, но такого поста не существует.
	else
		if data.post.image.exists
		.hero
			if browser.touch
				- var img = data.post._.image.fill(414,736,f_auto,center);		
			if browser.desktop
				- var img = data.post._.image.fill(1440,900,f_auto,center);		
			if browser.tablet
				- var img = data.post._.image.fill(768,1028,f_auto,center);	
			.image-wrap(style="background:url(" + img + ")")
			.container: .row: .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-1
				h1.title 
					=data.post.title
				.lead
					!=data.post.content.brief
		.container: .row: .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
			article
				if data.post.cases.client
					.client_post 
						| Клиент:
						= '\n'
					.clients: != data.post.cases.client
							//- if data.post.publishedDate
							//- 	| #{data.post._.publishedDate.format('MMMM Do, YYYY')} 

							//- if cat_i < data.post.categories.length - 1
							//- 	| , 
							//- else
							//- 	|  
							//- if data.post.author
							//- 	| by #{data.post.author.name.first}
				.post
					!= data.post.content.full
				.tags_wrap
					if data.post.categories && data.post.categories.length
						each cat, cat_i in data.post.categories
							if cat.NoShow != true
								a.tags(href='/blog/' + cat.key)= cat.name		
				.clearfix
				.calltoaction
					!=data.post.content.cta
